<header class="section">
    <h1>@FullName</h1>
    <h4>@Title</h4>
    <hr>
</header>

@code {
    [Parameter]
    public string FullName { get; set; }
    [Parameter]
    public string Title { get; set; }
}
